<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Plans Suggestion App</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="container">
        <h1>Weekend Plans Suggestion App</h1>
        <form id = 'search-form' action = "/suggest_plans" method = "post">
            <label for="location">Enter your city:</label>
            <input type="text" id="location" name ="location" placeholder="Eg: Mumbai">
            <div id="suggestions"></div>
            <button type = "submit" value = "Submit">Get Plans</button>
        </form>
    </div>
    <script src="static/scripts.js"></script>
</body>
</html>
