<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Weekend Plans</title>
</head>
<body>
    <div id = container>
        <h1>Here are some weekend plans in {{ location }}</h1>
        <br>
        {% for plan in zip(*plan) %}
            {% for item in plan %}
                {% if pd.notna(item) %}
                    <ul>{{ item }}</ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>