<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/plans.css">
    <title>Weekend Plans</title>
</head>
<body>
    <div id = container>
        <h1>Here are some weekend plans in {{ location }}</h1>
        <hr>
    </div>
    <div id = plans>
        {% for items in plans %}
            <h2>{{ items[0] }}</h2>
            <li>Description: {{ items[1] }}</li>
            <li>Link: <a href="{{ items[2] }}">{{ items[2] }}</a></li>
        {% endfor %}
    </div>
</body>
</html>